#post_content 
 %h1= @post.title
 %p= @post.content
 #comments
  - if @post.comments.count == 1
   %h3 1 comentário
  - else
   %h3 
    = @post.comments.count
    comentários
  = render @post.comments
  %h3 Comentar na thread
  = render "comments/form"

 %br/
 %hr/
 %br/

 = link_to "Editar Post", edit_post_path(@post), class: "button"
 = link_to "Excluir Post", post_path(@post), method: :delete, data: { confirm: "Tem certeza que deseja excluir?" }, class: "button"
 = link_to "Página Inicial", root_path, class: "button"